.chapters {
  height: 100%;
  display: flex;
  gap: 25px;
  flex-direction: column;
}

.progress {
  display: flex;
  gap: 25px;
  align-items: center;
  padding-bottom: 25px;
  border-bottom: 1px solid var(--border-color);
}

.indicator {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  font-family: var(--secondary-light);
}

.number {
  font-size: 2.25rem;
  color: var(--dark-color);
}

.chapter {
  display: flex;
  gap: 25px;
  flex-direction: column;
  justify-content: space-between;
  font-family: var(--secondary-light);
}

.chapter span {
  font-size: 1.25rem;
  color: var(--dark-color);
}

.button {
  width: 100%;
  cursor: pointer;
  line-height: 35px;
  color: var(--light-color);
  background-color: var(--accent-color);
  border-radius: 5px;
}

@media only screen and (min-width: 768px) {
  .chapters {
    gap: 0;
    flex-direction: row;
  }

  .progress {
    padding-bottom: 0;
    padding-inline-end: 5vw;
    border-bottom: 0;
    border-inline-end: 1px solid var(--border-color);
    margin-inline-end: 5vw;
  }

  .button {
    width: 200px;
  }
}
